@model IEnumerable<ProyecTenis.Models.Booking>

<h2 style="text-align: center">
    Booking
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCancha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTeacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCancha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTeacher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idBooking=item.IdBooking }) |
            @Html.ActionLink("Details", "Details", new { idBooking=item.IdBooking }) |
            @Html.ActionLink("Delete", "Delete", new { idBooking=item.IdBooking })
        </td>
    </tr>
}

</table>
